*.fasta filter=lfs diff=lfs merge=lfs -text
framework/data/assemblies/ERR1018195.fasta filter=lfs diff=lfs merge=lfs -text
data/assemblies/ERR13958310_1500/final.contigs.fa filter=lfs diff=lfs merge=lfs -text
